<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nishen.machiningapp">

    <application
        android:name=".models.MachiningData"
        android:allowBackup="true"
        android:icon="@mipmap/endmill_launcher_cropped"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/endmill_launcher_cropped"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.Milling_task">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Slot_input">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.Side_input">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.Machine_management" />
        <activity android:name=".activities.Contour_input">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Tool_filter_results" />
        <activity android:name=".activities.Tool_filter_results_contour"></activity>
        <activity android:name=".activities.Optimise_tools">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>